{{template "header"}}
    <title>Demon's Blog</title>
  </head>

  <body style="padding-top: 70px">
      {{template "navbar" .}}
          <div class="container">
            <div class="page-header">
                  <h1>我的第一篇博客</h1>
                  <h6 class="text-muted">文章发表于2016年</h6>
                  <p>
                      大家好，这是我第一篇博客，谢谢大家的支持。
                  </p>
            </div>
          </div>
            


      <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="http://cdn.saticfile.org/jquery/2.0.3/jquery.min.js"></script>
  </body>

</html>
